.container {
  .principal {
    .title-search {
      margin: 0 auto;
      border: 1px solid var(--main-color-orange-a);
      background: var(--main-color-orange-a);
      color: var(--main-color-white);
      padding: 8px 24px 8px 24px;
      border-radius: 20px;
      position: relative;
      top: 19px;
      font-size: 19px;
      font-family: var(--main-font-family-cambria);
    };
    box-shadow: none !important;
    .bloc-form {
      box-shadow: 0 0 8px #ccc;
    }
  }


  .tri-bloc {
    position: relative;
    top: 33px;
    left: 4px;
    .label-info {
      label {
        font-weight: bold;
      }
    };
    .particulier label, .professionnel label {
      font-weight: bold;
    };
    .select-tri {
      mat-form-field {
        top: -21px !important;
      }
    }
  };
  .card-offre, .tri-bloc {
    display: flex;
    align-items: flex-start;
  };
  // .card-offre:last-child {
  //   margin-bottom: 78px;
  // };
  .card-service {
    position: relative;
    top: 20px;
    left: 13px;
    width: 28%;
    .type-service, .type-annonce {
      font-family: var(--main-font-family-arial);
    };
    .type-service {
      font-size: 16px;
      font-weight: 548;
      position: relative;
      top: -7px;
    };
    .type-annonce {
      font-size: 14px;
      position: relative;
      top: -4px;
    }
  };
  .card-offre {
    border: 1px solid var(--main-color-gray-c);
    background: var(--main-color-white);
    .photo {
      width: 30%;
      text-align: center;
      font-size: 76px !important;
      i {
        color: var(--main-color-lightgray);
      }
    };
    .info-offres {
      border-left: 1px solid var(--main-color-black-b);
      border-right: 1px solid var(--main-color-black-b);
      width: 50%;
      font-family: var(--main-font-family);
      margin-top: 7px;
      padding-left: 12px;
      padding-bottom: 11px;
      .titre, .type-service label {
        font-size: 20px;
        font-weight: 600;
      };
      .prix {
        margin-top: 5px;
        margin-left: 3px;
        label {
          font-size: 15px;
          color: var(--main-color-orange-a);
        }
      };
      .other-info {
        margin-top: 4%;
        .type-offre, .DateOffre {
          font-family: var(--main-font-family-arial);
          font-size: 14px;
        }
      };
      .type-service label{
        color:#0909c5d1 !important;
      }
    }
  };
  .card-offre:hover {
    cursor: pointer;
    box-shadow: 3px 4px 8px -2px var(--main-color-gray-a);
    .titre, .type-service label {
      color: var(--main-color-orange-a);
    };
  }
}

@media only screen and (max-width: 847px) {
  .tri-bloc {
    .label-info, .input-field span {
      display: none;
    }
  }
}

@media only screen and (min-width: 848px) {
  .tri-bloc {
    .label-info, .input-field span {
      display: inline-flex;
      font-family: var(--main-font-family-arial);
    };
    .input-field span, .label-info span {
      margin-left: 6px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 854px) {
  .card-recherche {
    display: flex;
    align-items: flex-start;
    .bloc-btn {
      width: 406px;
    };
    .bloc-btn button {
      width: 100% !important;
      min-width: unset !important;
    };
    
  };

  @media only screen and (min-width: 710px) and (max-width: 732px) {
    .type-demandes mat-form-field {
      width: 401px !important;
   }
  }

  @media only screen and (max-width: 709px) {
    .type-demandes mat-form-field {
       width: 401px !important;
    }
  }
}
