.container {
  .principal {
    .title-search {
      margin: 0 auto;
      border: 1px solid var(--main-color-orange-a);
      background: var(--main-color-orange-a);
      color: var(--main-color-white);
      padding: 8px 24px 8px 24px;
      border-radius: 20px;
      position: relative;
      top: 19px;
      font-size: 19px;
      font-family: var(--main-font-family-cambria);
    };
    box-shadow: none !important;
    .bloc-form {
      box-shadow: 0 0 8px #ccc;
    };
    .offres {
      .card-offre {
        display: flex;
        padding: 3px;
        background: var(--main-color-white);
        margin-top: 13px;
        .bloc-left {
          width: 30%;
        };
        .bloc-rigth {
          padding-left: 7px;
        }
      }
    }
  }
}