<div class="container">
  <div class="principal" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
    <h2 class='title-search'>Que Recherchez-vous ?</h2>
    <div class="bloc-form">
      <app-search-offres></app-search-offres>
      <div class="card-offre the-last-child" *ngIf="totalOffre > 0">
        <div *ngFor="let offreSearch of imoResponse.result">
          <div class="info-offres">
            <div>
              <label>{{offreSearch.titre}}</label>
            </div>
            <div>
              <label>{{offreSearch.prix}}</label>
            </div>
            <div class="other-infos">
              <div>
                <label>{{offreSearch.typeOffre}}</label>
              </div>
              <div>
                <label>{{offreSearch.ville}}</label>
              </div>
              <div>
                <label>{{convertDate(offreSearch.creatAt)}}</label>
              </div>
            </div>
            <div class="card-service">
              <div>
                <label>{{offreSearch.typeServiceOffre}}</label>
              </div>
              <div>
                <label>{{offreSearch.typeAnnonce}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
</div>