.menu-list {
  button .material-icons {
    top: -4px !important;
  };
  button span {
    top: -1px;
  }
  button span,  button .material-icons {
    position: relative;
    top: -1px !important;
  };
  button .material-icons {
    color: var(--main-color-white) !important;
  };
  button span {
    color: var(--main-color-lightslategray);
  };
  .item-color {
    color: var(--main-color-white) !important;
  }
  a {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    font-size: medium;
    color: var(--main-color-lightslategray);
    text-decoration: none;
  };
  a:hover {
    background: var(--main-color-black-radial-gradient);
    color: white;
  };
  .material-icons {
    position: var(--main-material-icons-position);
    top: var(--main-material-icons-top);
    left: var(--main-material-icons-left);
  }
  .depot-offre {
    border: 1px solid var(--main-color-lightgray);
    border-radius: 16px;
    border-width: 2px;
    margin-right: 105px;
  };
}
#menu-content .material-icons {
  position: relative;
  top: 8px;
  right: 6px;
  color: var(--main-color-gray);
}; 