<div *ngIf="this.sharedService.userName !== null && this.sharedService.userName !== undefined" class="right menu-compte">
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <i class="material-icons">account_circle</i>
    <span class="name-user">{{sharedService.userName}}</span>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <a mat-menu-item>Compte</a>
    <a (click)="deconnexion()" mat-menu-item>Deconnexion</a>
  </mat-menu>
</div>
<div *ngIf="!isActifButton" class="menu-list">
  <a><i class="material-icons">add_circle</i><span>D&eacute;poser une annonce</span></a>
  <a routerLink="inscription"><i class="material-icons">person_add</i><span>Inscription</span></a>
  <a (click)="openDialog('Auth')"><i class="material-icons">perm_identity</i><span>Connexion</span></a>
</div>