<nav class="red navbar-fixed">
  <div class="nav-wrapper">
    <a href="/accueil" class="brand-logo">Loumo</a>
    <a href="#" data-target="mobile-header" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down menu-header">
      <li><span class="depot-offre">D&eacute;poser une annonce</span></li>
      <li *ngIf="!isActifButton"><a (click)="openDialog('Insc')">Inscription</a></li>
      <li *ngIf="!isActifButton"><a (click)="openDialog('Auth')">Connexion</a></li>
    </ul>
  </div>
</nav>

<!-- menu pour mobile -->
<ul class="sidenav" id="mobile-header">
  <li class="li_depot-offre"><span class="depot-offre">D&eacute;poser une annonce</span></li>
  <li *ngIf="!isActifButton"><a (click)="openDialog('Insc')">Inscription</a></li>
  <li *ngIf="!isActifButton"><a (click)="openDialog('Auth')">Connexion</a></li>
</ul>