.user:first-child {
  padding-top: 27px;
  .input-field:first-child {
    font-family: var(--main-font-family);
    mat-radio-group, mat-radio-group mat-radio-button {
      margin-left: 14px; 
    }
  }
}

.bloc-form {
  #message-error {
    padding-top: 20px;
    text-align: center;
    color: var(--main-color-red);
    font-family: var(--main-font-family);
  };
  .user {
    mat-error {
      margin-top: -12px;
    }
  }
}