<div class="container">
  <div class="principal" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
    <div class="bloc-form">
      <div *ngIf="messageErreur" id="message-error">
        <app-alerte-message [messages]="message" [colorsMsg]="colors"></app-alerte-message>
      </div>
      <h2 class="title">Création compte</h2>
      <form [formGroup]="utilisateurForm">
        <div class="user" formGroupName="user">
          <div class="input-field">
            <label>Qui êtes-vous *</label>
            <mat-radio-group formControlName="typeUtilisateur" (change)="onSelect($event)">
              <mat-radio-button value="PARTICULIER">Particulier</mat-radio-button>
              <mat-radio-button value="ENTREPRISE">Entreprise</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="representantLegal" formGroupName="representantLegal">
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="nom" placeholder="Nom *">
              </mat-form-field>
              <mat-error>
                <span *ngIf="representantLegal.get('nom').hasError('required') && representantLegal.get('nom').touched">Le nom est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="prenom" placeholder="Prenom *">
              </mat-form-field>
              <mat-error>
                <span *ngIf="representantLegal.get('prenom').hasError('required') && representantLegal.get('prenom').touched">Le prenom est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <mat-label>Votre genre *</mat-label>
                <mat-select formControlName="sexe">
                  <mat-option value="F">Feminin</mat-option>
                  <mat-option value="M">Masculin</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error>
                <span *ngIf="representantLegal.get('sexe').hasError('required') && representantLegal.get('sexe').touched">Le genre est obligatoire</span>
              </mat-error>
            </div>
          </div>
          <div class="input-field">
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email *">
            </mat-form-field>
            <mat-error>
              <span *ngIf="email.hasError('required') && user.get('email').touched">L'Email est obligatoire</span>
              <span *ngIf="email.hasError('pattern')">L'Email n'est pas valide</span>
              <span *ngIf="email.hasError('exist')">Cet Email existe, veuillez-vous connecter</span>
            </mat-error>
          </div>
          <div class="passwords" formGroupName="passwords">
            <div class="input-field">
              <mat-form-field>
                <mat-label>Mot de passe *</mat-label>
                <input matInput [type]="hide ? 'text' : 'password'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-error>
                <span *ngIf="password.get('password').hasError('required') && password.get('password').touched">Le mot de passe est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput type='password' formControlName="confirmPassword"  placeholder="Confirmation votre mot de passe *">
              </mat-form-field>
              <mat-error >
                <span *ngIf="password.get('confirmPassword').hasError('required') && password.get('confirmPassword').touched">Confirmation mot de passe obligatoire</span>
                <span *ngIf="password.errors !== null && password.errors.invalid">Les mots de passe ne sont pas identiques</span>
              </mat-error>
            </div>
          </div>
          <div class="adresse" formGroupName="adresse">
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="numeroRue" placeholder="Numero voie {{isAdresseObligatoire ? '*' : ''}}">
              </mat-form-field>
              <mat-error>
                <span *ngIf="adresse.get('numeroRue').hasError('required') && adresse.get('numeroRue').touched">Le numero de rue est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="libelleRue" placeholder="Nom voie {{isAdresseObligatoire ? '*' : ''}}">
              </mat-form-field>
              <mat-error>
                <span *ngIf="adresse.get('libelleRue').hasError('required') && adresse.get('libelleRue').touched">La rue est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="codePostal" placeholder="Code postal {{isAdresseObligatoire ? '*' : ''}}">
              </mat-form-field>
              <mat-error>
                <span *ngIf="adresse.get('codePostal').hasError('required') && adresse.get('codePostal').touched">Le code postal est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="ville" placeholder="Ville *">
              </mat-form-field>
              <mat-error>
                <span *ngIf="adresse.get('ville').hasError('required') && adresse.get('ville').touched">La ville est obligatoire</span>
              </mat-error>
            </div>
            <div class="input-field">
              <mat-form-field>
                <input matInput formControlName="pays" placeholder="Pays *" (keyup)="onKey($event.target.value)">
              </mat-form-field>
              <mat-error>
                <span *ngIf="adresse.get('pays').hasError('required') && adresse.get('pays').touched">Le pays est obligatoire</span>
              </mat-error>
            </div>
          </div>
        </div>
        <div *ngIf="isProfessionnel" class="userMoral" formGroupName="userMoral">
          <div class="input-field">
            <mat-form-field>
              <input matInput formControlName="siret" placeholder="Siret *">
            </mat-form-field>
            <mat-error>
              <span *ngIf="userMoral.get('siret').hasError('required') && userMoral.get('siret').touched">Le siret est obligatoire</span>
            </mat-error>
          </div>
          <div class="input-field">
            <mat-form-field>
              <input matInput formControlName="raisonSocial" placeholder="RaisonSocial *">
            </mat-form-field>
            <mat-error>
              <span *ngIf="userMoral.get('raisonSocial').hasError('required') && userMoral.get('raisonSocial').touched">Le raisonSocial est obligatoire</span>
            </mat-error>
          </div>
          <div class="input-field">
            <mat-form-field>
              <input matInput formControlName="kbis" placeholder="Kbis">
            </mat-form-field>
          </div>
        </div>
        <div class="btn-bloc">
          <button [ngClass]="{'form-valid' : utilisateurForm.valid, 'form-invalid' : !utilisateurForm.valid}" mat-raised-button 
                  type="submit" [disabled]="!utilisateurForm.valid" (click)="onSubmit()">Valider</button>
          <button type="button" mat-raised-button>Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>