<div class="mobile-header">
  <ul >
    <li>
        <a routerLink="accueil"><i class="material-icons">home</i><span>Accueil</span></a>
    </li>
    <li><a><i class="material-icons">add_circle</i>D&eacute;poser une annonce</a></li>
  </ul>
  <ul *ngIf="!isActifButton">
    <li>
        <a routerLink="accueil"><i class="material-icons">home</i><span>Accueil</span></a>
    </li>
    <li class="li_depot-offre">
      <a><i class="material-icons">add_circle</i>D&eacute;poser une annonce</a>
    </li>
    <li><a routerLink="accueil"><i class="material-icons">home</i><span>Accueil</span></a></li>
    <li><a (click)="openDialog('Insc')"><i class="material-icons">person_add</i><span>Inscription</span></a></li>
    <li><a (click)="openDialog('Auth')"><i class="material-icons">perm_identity</i><span>Connexion</span></a></li>
  </ul>
</div>