<div class="bloc-app">
    <mat-toolbar>
      <a routerLink="accueil" class="brand-logo">Loumo</a>
      <div fxShow="true" fxHide.lt-md="true" fxFlex >
        <div fxLayout="row" fxLayoutAlign="end">
          <app-header></app-header>
        </div>
      </div>
      <div fxShow="true" fxHide.gt-sm="true" fxFlex>
        <div fxLayout="row" fxFlex>
          <a href="#" class="icone-menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
        </div>
      </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav fxLayout="column" class="menu-res">
        <div fxLayout="column" fxLayoutAlign="end">
          <a class="fermer" (click)="sidenav.toggle()" href="#" mat-button>
            <i class="material-icons">keyboard_arrow_left</i>
          </a>
          <app-menu-responsive></app-menu-responsive>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <main>
          <router-outlet></router-outlet>
          <div class="footer the-last-child">
          </div>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>