.bloc-form {
    form {
        margin-top: -10px;
        padding-left: 35px;
        padding: 0 36px 0 36px;
        .input-field mat-form-field {
            width: 100%;
        };
        .btn-bloc {
            text-align: center;
            padding-bottom: 20px;
            margin-top: 12px;
        };
        .btn-bloc button:nth-child(1) {
            color: var(--main-color-white);
        };
        .btn-bloc button:last-child {
            color: var(--main-color-btn-back);
            border: 1px solid var(--main-color-btn-back);
            font-weight: 500;
            margin-left: 13px;
        };
        .form-valid {
            background: var(--main-color-btn-valid);
            border: 1px solid var(--main-color-btn-valid);
        };
        .form-invalid {
            background: var(--main-color-lightgray);
            border: 1px solid var(--main-color-lightgray);
        }
    };
    background: var(--main-color-white);
}