<div class="container">
    <div class="principal" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
        <div class="bloc-form">
            <h2 class="title">Création offre</h2>
            <form [formGroup]="offreForm">
                <div class="offre" formGroupName="offre">
                    <div class="input-field">
                      <mat-form-field>
                        <input matInput formControlName="titre" placeholder="Titre *">
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="titre.hasError('required') && titre.touched">Le titre est obligatoire</span>
                      </mat-error>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                      </mat-form-field>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Type offre *</mat-label>
                        <mat-select formControlName="typeOffre" (selectionChange)="selectChange($event.value)">
                          <mat-option *ngFor="let item of typeOffreEnum | enumToArray"
                            [value]="item.name | uppercase">
                              {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="typeOffre.hasError('required') && typeOffre.touched">Le type offre est obligatoire</span>
                      </mat-error>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Type service *</mat-label>
                        <mat-select formControlName="typeServiceOffre" (selectionChange)="selectService($event.value)">
                          <mat-option *ngFor="let item of typeServiceEnum | enumToArray"
                            [value]="item.name | uppercase">
                              {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="typeServiceOffre.hasError('required') && typeServiceOffre.touched">Le type de service est obligatoire</span>
                      </mat-error>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Debut de la location {{isLocation ? '*' : ''}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateDebut" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                       <mat-error>
                         <span *ngIf="dateDebut.hasError('required') && dateDebut.touched">La date de debut est obligatoire</span>
                       </mat-error>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Fin de la location {{isLocation ? '*' : ''}}</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="dateFin" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="dateFin.hasError('required') && dateFin.touched">La date de fin est obligatoire</span>
                      </mat-error>
                    </div>
                    <div class="input-field">
                      <mat-form-field>
                        <input matInput formControlName="prix" placeholder="Prix *">
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="prix.hasError('required') && prix.touched">Le prix est obligatoire</span>
                      </mat-error>
                    </div>
                    <div class="adresse" formGroupName="adresse">
                      <div class="input-field">
                        <mat-form-field>
                          <input matInput formControlName="numeroRue" placeholder="Numero voie {{isAdresseObligatoire ? '*' : ''}}">
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="numeroRue.hasError('required') && numeroRue.touched">Le numero de rue est obligatoire</span>
                        </mat-error>
                      </div>
                      <div class="input-field">
                        <mat-form-field>
                          <input matInput formControlName="libelleRue" placeholder="Nom voie {{isAdresseObligatoire ? '*' : ''}}">
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="libelleRue.hasError('required') && libelleRue.touched">Le nom de la rue est obligatoire</span>
                        </mat-error>
                      </div>
                      <div class="input-field">
                        <mat-form-field>
                          <input matInput formControlName="codePostal" placeholder="Code postal {{isAdresseObligatoire ? '*' : ''}}">
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="codePostal.hasError('required') && codePostal.touched">Le code postal est obligatoire</span>
                        </mat-error>
                      </div>
                      <div class="input-field">
                        <mat-form-field>
                          <input matInput formControlName="ville" placeholder="Ville *">
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="ville.hasError('required') && ville.touched">La ville est obligatoire</span>
                        </mat-error>
                      </div>
                      <div class="input-field">
                        <mat-form-field>
                          <input matInput formControlName="pays" placeholder="Pays *" (keyup)="onKey($event.target.value)">
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="pays.hasError('required') && pays.touched">Le pays est obligatoire</span>
                        </mat-error>
                      </div>
                    </div>
                </div>
                <div class="immobilier" formGroupName="immobilier" *ngIf="isImmobilier">
                  <div class="input-field">
                    <mat-form-field>
                      <mat-label>Type de bien *</mat-label>
                      <mat-select formControlName="bien" (selectionChange)="selectChangeBienImmo($event.value)">
                        <mat-option *ngFor="let item of typeDeBienImmobilier | enumToArray"
                          [value]="item.name | uppercase">
                            {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="pays.hasError('required') && pays.touched">Le pays est obligatoire</span>
                    </mat-error>
                  </div>
                  <div class="input-field">
                    <mat-form-field>
                      <input matInput formControlName="surface" placeholder="surface en m² *">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="surface.hasError('required') && surface.touched">La surface est obligatoire</span>
                    </mat-error>
                  </div>
                  <div class="input-field">
                    <mat-form-field>
                      <input matInput formControlName="nombrePieces" placeholder="nombre de pieces *">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="nombrePieces.hasError('required') && nombrePieces.touched">Le nombre de pièce est obligatoire</span>
                    </mat-error>
                  </div>
                  <div class="input-field">
                    <mat-form-field>
                      <mat-label>Sanitaire *</mat-label>
                      <mat-select formControlName="sanitaire">
                        <mat-option *ngFor="let item of typeSanitaireEnum | enumToArray"
                          [value]="item.name | uppercase">
                            {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="immobilier.get('sanitaire').hasError('required') && immobilier.get('sanitaire').touched">Le sanitaire est obligatoire</span>
                    </mat-error>
                  </div>
                  <div class="input-field" *ngIf="isTerrain">
                    <mat-form-field>
                      <input matInput formControlName="autreService" placeholder="Autre service">
                    </mat-form-field>
                  </div> 
                  <div class="input-field">
                    <mat-form-field>
                      <mat-label>Zone géographique</mat-label>
                      <textarea matInput formControlName="zoneGeographique"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="input-field bloc-checkbox electricite">
                    <label class="input-field">Electricité:</label>
                    <mat-radio-group  name="electricite" formControlName="electricite" (change) ="onChange($event)">
                      <mat-radio-button class="input-field" value="oui" >Oui</mat-radio-button>
                      <mat-radio-button class="input-field" value="non"> Non</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="input-field bloc-checkbox eau">
                    <label class="input-field">Eau:</label>
                    <mat-radio-group  name="eau" formControlName="eau">
                      <mat-radio-button class="input-field" value="oui">Oui</mat-radio-button>
                      <mat-radio-button class="input-field" value="non">Non</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="input-field bloc-checkbox piscine">
                    <label class="input-field">Piscine: </label>
                    <mat-radio-group  name="piscine" formControlName="piscine">
                      <mat-radio-button class="input-field" value="oui">Oui</mat-radio-button>
                      <mat-radio-button class="input-field" value="non">Non</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="input-field bloc-checkbox menage" *ngIf="isTerrain">
                    <label class="input-field">Menage:</label>
                    <mat-radio-group  name ="serviceMenage" formControlName="serviceMenage">
                      <mat-radio-button class="input-field" value="oui">Oui</mat-radio-button>
                      <mat-radio-button class="input-field" value="non">Non</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="input-field bloc-checkbox parking">
                    <label class="input-field">Parking:</label>
                    <mat-radio-group name="parking" formControlName="parking">
                      <mat-radio-button class="input-field" value="oui">Oui</mat-radio-button>
                      <mat-radio-button class="input-field" value="non">Non</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="mobile" formGroupName="mobile" *ngIf="isMobilie">
                  <div class="input-field">
                    <mat-form-field>
                      <mat-label>Date mise en circulation *</mat-label>
                      <input matInput [matDatepicker]="picker3" formControlName="dateMiseEnCircualtion">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>
                    <div class="input-field">
                      <mat-form-field>
                        <mat-label>Type moteur *</mat-label>
                        <mat-select formControlName="typeMobileMoteur">
                          <mat-option *ngFor="let item of typeMobileMoteurEnum | enumToArray"
                            [disabled]="isVelo && item.name !== 'Electrique'" [value]="item.name | uppercase">
                              {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <div class="btn-bloc">
                  <button [ngClass]="{'form-valid' : offreForm.valid, 'form-invalid' : !offreForm.valid}" mat-raised-button type="submit" [disabled]="!offreForm.valid" (click)="onSubmit()">Valider</button>
                  <button type="button" mat-raised-button [routerLink]="['/accueil']">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
