<div class="container">
  <div *ngIf="isDetail" class="principal" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
    <h3>DETAILS OFFRE</h3>
    <div flex fxLayout="row" class="infos">
      <div fxFlex="30">
        Photos offres
      </div>
      <div fxFlex="70">
        <div class="datas info-client">
          <label>{{offre.raisonSocial}}</label>
        </div>
        <div class="datas siren">
          <label>N° Siret: {{offre.siret}}</label>
        </div>
        <div class="datas telephone">
          <button type="button" mat-raised-button (click)="afficheTelephone()"><i class="material-icons">call</i>
            <span *ngIf="!isAfficheTelephone">téléphone</span>
            <span *ngIf="isAfficheTelephone">{{offre.telephone}}</span>
          </button>
        </div>
        <div class="datas email-btn">
          <button type="button" mat-raised-button><i class="material-icons">email</i><span>Ecrire un message</span></button>
        </div>
      </div>
    </div>
    <!-- Présentation du bien -->
    <div flex fxLayout="row" class="presentation-bien">
      <div fxFlex="100">
        <div class="type-b-i datas">
          <h5>{{offre.typeDebienImmobilier}} {{offre.nbrePieces}} {{offre.surface}}</h5>
        </div>
        <div class="prix datas">
          <label>{{offre.prix}} euros</label>
        </div>
        <div class="date-publication datas">
          <span>{{offre.createAt}} à 13:00</span>
        </div>
      </div>
    </div>
    <!-- Critère du bien -->
    <div flex fxLayout="row" class="criteres">
      <div fxFlex="100">
        <h5>Critères</h5>
        <div class="datas affichage-criteres">
          <table>
            <tr>
              <td>[Type de bien]</td>
              <td>[Nbre de piece]</td>
              <td>[Sanitaire]</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Description du bien -->
    <div flex fxLayout="row" class="info-description">
      <div fxFlex="100">
        <h5>Description</h5>
        <div class="datas description">
          <label>Ceci est la description de l'offre</label>
        </div>
      </div>
    </div>
    <div flex fxLayout="row" class="info-adresse">
      <div fxFlex="100">
        <h5>Adresse</h5>
        <div class="datas adresse">
          11 rue gallieni
        </div>
        <div class="datas">
          93270 Sevran
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isDetail" class="page-error" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
    <h4>L'offre n'existe (PAGE HTML A DEFINIR DANS LES PROCHAINS SPRINT)</h4>
  </div>
</div> 