<div class="container">
  <div class="principal" fxFlex="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="98" fxLayout="column">
    <h2>DETAILS OFFRE</h2>
    <div flex fxLayout="row">
      <div fxFlex="30">
        Photos offres
      </div>
      <div fxFlex="70">
        <div>
          <label>Nom: NomOFFRE</label>
        </div>
        <div>
          <label>N° SIREN : 2340090</label>
        </div>
        <hr>
        <div>
          <label><i class="material-icons">call</i><span>0768989998</span></label>
        </div>
        <div>
          <label><i class="material-icons">email</i><span>mamoudous2005@yahoo.fr</span></label>
        </div>
      </div>
    </div>
    <div flex fxLayout="row">
      <div fxFlex="100">
        <label>Description</label><hr>
        <div>
          Ceci est la description de l'offre
        </div>
      </div>
    </div>
    <div flex fxLayout="row">
      <div fxFlex="100">
        <label>Adresse</label><hr>
        <div>
          11 rue gallieni
        </div>
        <div>
          93270 Sevran
        </div>
      </div>
    </div>
  </div>
</div> 