/* You can add global styles to this file, and also import other style files */
:root {
  --main-font-family: Roboto, Helvetica, Arial, sans-serif;
  --main-font-family-cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --main-font-family-arial: Arial;
  --main-font-weight-600: 600;
  --main-font-weight-500: 500;
  --main-material-icons-position: relative;
  --main-material-icons-top: 6px;
  --main-material-icons-left: -5px;
  --main-color-nevy: #000080;
  --main-color-primary: #3f51b5;
  --main-color-white: #fff;
  --main-color-lightgray: lightgray;
  --main-color-black-radial-gradient: radial-gradient(black, transparent);
  --main-color-gray-a: #80808036;
  --main-color-gray: gray;
  --main-color-gray-b: #80808038;
  --main-color-gray-c: #d3d3d340;
  --main-color-btn-valid: #1a7c1e;
  --main-color-black-a: #000;
  --main-color-black-b: #00000014;
  --main-color-orange-a: #ff4081;
  --main-color-orange-b: #f44336;
  --main-color-page-site:#e5e9ec;
  --main-color-red:red;
  --main-color-blue-a: #106cc8;
  --main-color-lightslategray: lightslategray;
}
mat-radio-group, mat-radio-group mat-radio-button {
  margin-left: 14px !important; 
}
.mat-snack-bar-container {
  background: var(--main-color-btn-valid) !important;
}
.principal {
  box-shadow: 0 0 8px #ccc;
}
.input-field mat-error {
  font-family: var(--main-font-family);
  font-size: 12px;
  margin-top: -12px;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.88) !important;
}
.mat-drawer-container {
  background: var(--main-color-black-b) !important;
  color: rgba(0,0,0,.87) !important;
}
.container {
  justify-content: space-evenly;
  background: var(--main-color-page-site);
  margin-top: 20px;
}
.title {
  font-family: var(--main-font-family);
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
}
.the-last-child:last-child {
  margin-bottom: 78px;
};
.header-modale h6 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 7px;
  font-size: 25px;
}
.bloc-form {
  #message-error {
    padding-top: 20px;
    text-align: center;
    color: var(--main-color-red);
    font-family: var(--main-font-family);
  };

  form {
    margin-top: -10px;
    padding: 0 36px 0 36px;
    .input-field mat-form-field {
      width: 100%;
    };
    .btn-bloc {
      text-align: center;
      padding-bottom: 20px;
      margin-top: 12px;
    };
    .btn-bloc button:nth-child(1) {
      color: var(--main-color-white);
    };
    .btn-bloc button:last-child {
      color: var(--main-color-btn-back);
      border: 1px solid var(--main-color-btn-back);
      font-weight: 500;
      margin-left: 13px;
    };
    .form-valid {
      background: var(--main-color-btn-valid);
      border: 1px solid var(--main-color-btn-valid);
    };
    .form-invalid {
      background: var(--main-color-lightgray);
      border: 1px solid var(--main-color-lightgray);
    }
  };
  background: var(--main-color-white);
};


.header-modale {
  margin-top: -19px;
}
.header-modale .fermeture {
  float: right;
  color: #F44336;
  cursor: pointer;
}
/* Message alerte */
.card {
  margin: -1.3rem 0 1rem 0 !important;
}
.card-content p {
  text-align: center;
}
.msg {
  width:100%;
  border: 1px solid;
  padding:10px;
  margin: 20px;
  color: grey;
}
/* rouge */
.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
/* orange */
.msg-alert {
  border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}
/* bleu */
.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}
/* masque bloc */
.masque-bloc {
  display: none;
}
button {
  font-weight: bold;
}
.btn-green {
  background-color: #106113ad !important;
}
/** loader sur les boutons */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}