h2 {
  display: flex;
  justify-content: center;
}
.bloc-form {
  form {
    margin-top: 20px;
    .mot-de-passe-oublie {
      margin-top: 8px;
      .right {
        display: flex;
        justify-content: flex-end;
        color: var(--main-color-blue-a) !important;
        font-weight: bold;
        font-family: var(--main-font-family);
        font-size: 13px;
      }
    };
    .btn-bloc {
      button {
        background: var(--main-color-blue-a);
        color: var(--main-color-white);
        width: 85%;
        font-size: 15px;
        margin-top: 12px;
        border: none;
        border-radius: 20px;
      };
      .inscription {
        margin-top: 8px;
        a {
          color: var(--main-color-blue-a) !important;
          font-weight: bold;
          font-family: var(--main-font-family);
          font-size: 13px;
        };
      };
      .separateur {
        width: 100%;
        margin-top: 12px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}