h2 {
  display: flex;
  justify-content: center;
}
mat-dialog-content {
  margin-top: 40px;
}
.bloc-form {
  form {
    margin-top: 0;
    padding: 0 6px 0 6px;
  }
  .mot-de-passe-oublie {
    margin-top: -11px;
    .right {
      display: flex;
      justify-content: flex-end;
      color: var(--main-color-lien-hypertext) !important;
      font-weight: bold;
    }
  }
}
mat-dialog-actions {
  button {
    background: var(--main-color-blue-a);
    color: var(--main-color-white);
    width: 80%;
    font-size: 15px;
    margin-top: 46px;
  };
  .inscription {
    margin-top: 15px;
    a {
      color: var(--main-color-lien-hypertext) !important;
      font-weight: bold;
    };
  };
  .separateur {
    width: 100%;
    margin-top: 8%;
    span {
      font-weight: bold;
    }
  }
}