<div class="container">
  <div class="principal" fxFlex="40" fxFlex.md="40" fxFlex.sm="55" fxFlex.xs="98" fxLayout="column">
    <div class="bloc-form">
      <h2 class="title">Loumo</h2>
      <div *ngIf="messageErreur" id="message-error">
        <app-alerte-message [messages]="message" [colorsMsg]="colors"></app-alerte-message>
      </div>
      <form [formGroup]="authForm">
        <div class="input-field">
          <mat-form-field>
            <input matInput type="email" formControlName="email" placeholder="Email *">
          </mat-form-field>
          <mat-error>
            <span *ngIf="email.hasError('required') && email.touched">L'Email est obligatoire</span>
            <span *ngIf="email.hasError('pattern')">L'Email n'est pas valide</span>
            <span *ngIf="email.hasError('notExist')">Cet Email n'existe pas, veuillez-vous inscrire</span>
          </mat-error>
        </div>
        <div class="input-field">
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Mot de passe *">
          </mat-form-field>
          <mat-error>
            <span *ngIf="password.hasError('required') && password.touched">Le mot de passe est obligatoire</span>
          </mat-error>
        </div>
        <div class="mot-de-passe-oublie">
          <a routerLink="" class="right">Mot de passe oublié</a>
        </div>
        <div class="btn-bloc">
          <button [ngClass]="{'form-valid' : authForm.valid, 'form-invalid' : !authForm.valid}" mat-raised-button 
            type="submit" [disabled]="!authForm.valid" (click)="onSubmit()">Se connecter
          </button>
          <div class="inscription">
            <span>Pour nous rejoindre: </span><a routerLink='/inscription'>Inscrivez-vous</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- <mat-dialog-content class="bloc-form">
  
  
</mat-dialog-content>
<mat-dialog-actions align="center">
  
  <div class="separateur">
    <span>OU</span>
  </div>
  <div class="inscription">
    <a mat-dialog-close routerLink='/inscription'>Inscrivez-vous</a>
  </div>
</mat-dialog-actions> -->